std2@https://github.com/ms-jpq/std2/archive/std.tar.gz
pynvim_pp@file:///Users/zchee/src/github.com/ms-jpq/pynvim_pp
pynvim@file:///Users/zchee/src/github.com/neovim/pynvim
greenlet@file:///Users/zchee/src/github.com/python-greenlet/greenlet
PyYAML==6.0
uvloop@file:///Users/zchee/src/github.com/MagicStack/uvloop
msgpack@file:///Users/zchee/src/github.com/msgpack/msgpack-python
